html {
    scroll-behavior: smooth;
}

.carousel-img {
    height: 750px;
    object-fit: cover;
}

.nav-link {
    transition: 0.3s;
}

.nav-link:hover {
    transform: scale(1.05);
    color: rgba(228, 220, 220, 0.64) !important;
}

.btn {
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.service {
    transition: 0.3s;
}

.service:hover {
    background-color: #b30000;
    color: #fff;
    transform: scale(1.05);
}